# Projeto Prático 1

## Redes Neurais - 2020

#### Elaborado por: Carlos Diego Ferreira, João Victor de Oliveira e Luiz Carlos Silva

## Análise exploratória e Visualização de Dados

In [2]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn
import pandas as pd

### Uma breve contextualização do dataset

Dataset contendo informações acerca da pandemia de SARS-CoV-2 dentro da cidade Manaus, no estado do Amazonas, Brasil.
As fontes de dados são originadas dos seguintes sistemas: e-SUS notifica (VE), SIVEP-Gripe e GAL
Dataset retirado de https://covid19.manaus.am.gov.br/wp-content/uploads/Manaus.csv

Capacidade atual de testagem diária do município: 384 pessoas/dia

## Abrir dataset em formato csv usando pandas

In [3]:
df = pd.read_csv('../config/dataset_covid_manaus.csv', sep = ';', encoding='latin-1'
#                  , parse_dates = [10, 12, 14]
                ) 
#Foi feita uma conversão das colunas com datas de strings para o objetos timestamps.
df.head()

C:\Users\Diego\anaconda3\envs\rna-pp1\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (12,15,22,24,30,31,32,33,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,_idade,_faixa etária,_sexo,_bairro,_classificacao,_comorb_renal,_comorb_diabetes,_comorb_imuno,_comorb_cardio,_conclusao,...,_distrito,_bairro_mapa,_comorb_respiratoria,_comorb_cromossomica,_comorb_hepatica,_comorb_neurologica,_comorb_hemato,_comorb_obessidade,_origem,_evolução
0,37.0,30a - 39a,F,CONJ. CIDADAO 10,Confirmado,Não,Não,Não,Não,NaN,...,OESTE,TARUMÃ,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
1,46.0,40a - 49a,F,MORADA DO SOL,Descartado,Não,Não,Não,Não,Recuperado,...,SUL,ALEIXO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
2,51.0,50a - 59a,F,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
3,74.0,70a - 79a,M,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
4,51.0,50a - 59a,F,ALEIXO,Confirmado,Não,Não,Não,Não,NaN,...,SUL,ALEIXO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN

## De acordo com o indicado na descrição do projeto, serão mantidos apenas os casos confirmados

In [4]:
df = df[df['_classificacao'] == 'Confirmado'].reset_index(drop=True) #nesse caso foram descartados os casos 'Descartado' e 'Em análise'
df.head()

,_idade,_faixa etária,_sexo,_bairro,_classificacao,_comorb_renal,_comorb_diabetes,_comorb_imuno,_comorb_cardio,_conclusao,...,_distrito,_bairro_mapa,_comorb_respiratoria,_comorb_cromossomica,_comorb_hepatica,_comorb_neurologica,_comorb_hemato,_comorb_obessidade,_origem,_evolução
0,37.0,30a - 39a,F,CONJ. CIDADAO 10,Confirmado,Não,Não,Não,Não,NaN,...,OESTE,TARUMÃ,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
1,51.0,50a - 59a,F,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
2,74.0,70a - 79a,M,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
3,51.0,50a - 59a,F,ALEIXO,Confirmado,Não,Não,Não,Não,NaN,...,SUL,ALEIXO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
4,53.0,50a - 59a,M,PARQUE10,Confirmado,Não,Não,Não,Não,NaN,...,SUL,PARQUE 10 DE NOVEMBRO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN

## Descrição do conteúdo do dataset

#### 1 - Quantos e quais atributos descrevem cada elemento do dataset?

In [5]:
print('Quantidade de atributos preditores: '+str(len(df.columns)))
print('São eles:')
for c in df.columns:
#     print(c[1:]) #para melhor visualização, retirei o '_' presente na primeira posição de todos os atributos
    print(c) #para visualizá-los com seus nomes originais

Quantidade de atributos preditores: 36
São eles:
_idade
_faixa etária
_sexo
_bairro
_classificacao
_comorb_renal
_comorb_diabetes
_comorb_imuno
_comorb_cardio
_conclusao
_dt_notificacao
_taxa
_dt_evolucao
_raca
_dt_sintomas
_criterio
_tipo_teste
_sintoma_garganta
_sintoma_dispneia
_sintoma_febre
_sintoma_tosse
_sintoma_outros
_etnia
_profiss_saude
_srag
_se_notificacao
_distrito
_bairro_mapa
_comorb_respiratoria
_comorb_cromossomica
_comorb_hepatica
_comorb_neurologica
_comorb_hemato
_comorb_obessidade
_origem
_evolução

#### 2 - Quantos casos confirmados há em Manaus?

In [6]:
#Considerando que apenas os casos confirmados encontram-se no dataset, trata-se apenas do tamanho deste, no entanto, 
#caso fosse uma requisição de outro aributo que tivesse mais de uma opção, seria da seguinte forma:
df['_classificacao'].value_counts()['Confirmado']

36947

#### 3 - Qual o período de tempo do dataset (baseando-se na data de notificação)?

Obs: dentre os 36947 casos, 4 não possuiam data de notificação.

In [7]:
datetime_dates = pd.to_datetime(df['_dt_notificacao'].dropna().astype(str), format='%d/%m/%Y')
first = np.min(datetime_dates)
latest = np.max(datetime_dates)

In [8]:
print('Primeira notificação foi em: %s/%s/%4d' %(first.strftime('%d'), first.strftime('%m'), first.year))
print('Notificação mais recente(retirado no dia 06/08/2020) foi em: %s/%s/%4d' %(latest.strftime('%d'), latest.strftime('%m'), latest.year))

Primeira notificação foi em: 30/01/2020
Notificação mais recente(retirado no dia 06/08/2020) foi em: 06/08/2020

### Conforme especificado no pdf do projeto:
"Para fins da análise considerada no escopo deste projeto, vamos excluir todos os atributos relativos
às comorbidades, sintomas, etnia, profissão, outras datas que não a de notificação, origem e outros
que não estiverem envolvidos no contexto do trabalho solicitado. Estes atributos serão considerados
irrelevantes para fins de simplificação."

### E ainda:
"Exclua todas as linhas em que houver dados faltantes para os
atributos remanescentes."

In [9]:
#removendo os atributos especificados:
df = df.drop(['_comorb_renal', '_comorb_diabetes', '_comorb_imuno', '_comorb_cardio', '_taxa', '_dt_evolucao', '_raca',
       '_dt_sintomas', '_sintoma_garganta', '_classificacao', 
       '_sintoma_dispneia', '_sintoma_febre', '_sintoma_tosse',
       '_sintoma_outros', '_etnia', '_profiss_saude', '_srag', '_criterio', 
       '_se_notificacao', '_distrito', '_bairro_mapa', '_comorb_respiratoria',
       '_comorb_cromossomica', '_comorb_hepatica', '_comorb_neurologica',
       '_comorb_hemato', '_comorb_obessidade', '_origem', '_evolução'], axis=1).dropna()

## Análise dos Dados

#### 1 - Quantos exemplos e atributos há na base de dados após a limpeza e organização?

In [10]:
print('Quantidade de atributos preditores após limpeza e organização: ' + str(len(df.columns)))
print('São eles:')
for i in df.columns:
    print(i)

Quantidade de atributos preditores após limpeza e organização: 7
São eles:
_idade
_faixa etária
_sexo
_bairro
_conclusao
_dt_notificacao
_tipo_teste

#### 2 - Qual a porcentagem de indivíduos recuperados em relação ao todo?

In [13]:
recovered_percentage = (df['_conclusao'].value_counts()['Recuperado'] / len(df))*100
print('Porcentagem de recuperados em relação ao todo: %.2f ' % recovered_percentage + '%\n')

Porcentagem de recuperados em relação ao todo: 99.80 %

#### 3 - Os casos acometeram mais indivíduos do sexo masculino ou feminino?

In [15]:
print('Quantidade de casos em relação ao sexo do paciente:')
print(df['_sexo'].value_counts())
print('\nOs casos acometeram mais indivíduos do sexo feminino')

Quantidade de casos em relação ao sexo do paciente:
F    3645
M    2777
Name: _sexo, dtype: int64

Os casos acometeram mais indivíduos do sexo feminino

#### 4 - Qual a média e desvio padrão de idade dos indivíduos que contraíram COVID-19? Qual o indivíduo mais jovem e o mais idoso a contraírem tal enfermidade?

In [16]:
average_age = df['_idade'].sum() / len(df)
print('Idade média dos indivíduos que contraíram COVID-19 : ' + str(int(average_age)) + ' anos\n')

temp = 0
for age in df.iloc[:,0].values:
    temp += (age - average_age)**2
    
std_deviation = (temp/len(df))**(1/2)

print('Desvio padrão: %.3f' % std_deviation + '\n')
print('Indivíduo mais jovem possui: ' + str(np.min(df.iloc[:,0].values)))
print('Indivíduo mais velho possui: ' + str(np.max(df.iloc[:,0].values)))
print('\n')

Idade média dos indivíduos que contraíram COVID-19 : 41 anos

Desvio padrão: 14.155

Indivíduo mais jovem possui: 0.0
Indivíduo mais velho possui: 99.0

#### 5 - Qual bairro com mais incidência de casos?

In [17]:
dts = df['_bairro'].value_counts(sort = True).index.tolist()
dts_cases = df['_bairro'].value_counts(sort = True).values
print((dts[0]).capitalize() + ' é o bairro com a maior incidência de COVID-19, com ' + str(dts_cases[0]) + ' casos.\n')

Cidade nova é o bairro com a maior incidência de COVID-19, com 301 casos.

#### 6 - Quais os três bairros com maior incidência de casos recuperados?

In [18]:
print("Os 3 bairros com a maior incidência de casos recuperados:")
df_recovereds = df[df['_conclusao'] == 'Recuperado']
dts_recovereds = df_recovereds['_bairro'].value_counts(sort = True).index.tolist()
dts_recoverds_cases = df_recovereds['_bairro'].value_counts(sort = True).values

for i in range(3):
    print(str(i+1) + 'º '+ dts_recovereds[i] + ', ' + str(dts_recoverds_cases[i]) + ' recuperados.')
print('\n')

Os 3 bairros com a maior incidência de casos recuperados:
1º CIDADE NOVA, 301 recuperados.
2º FLORES, 266 recuperados.
3º TARUMA, 225 recuperados.

#### 7 - Quais os tipos de testes efetuados, segundo os dados? Indique os dados de maneira quantitativa e percentual.

In [21]:
test_types = df['_tipo_teste'].value_counts(sort = True).index.tolist()
tests_qtd = df['_tipo_teste'].value_counts(sort = True).values

tests_percentage = []
for value in tests_qtd:
    tests_percentage.append(((value / len(df))*100))

tests_table = {'Tipo': test_types, 'Testes realizados': tests_qtd, 'Percentual em relação ao total (%)': tests_percentage}
pd.DataFrame(tests_table)

,Tipo,Testes realizados,Percentual em relação ao total (%)
0,TESTE RÁPIDO - ANTICORPO,3736,58.175023
1,RT-PCR,1537,23.933354
2,TESTE RÁPIDO - ANTÍGENO,1139,17.735908
3,ELISA IgM,6,0.093429
4,ECLIA IgG,4,0.062286