In [1]:
import pandas as pd
import seaborn as sbn
import numpy as np
from matplotlib import pyplot as plt

#### Reading dataset

In [4]:
df = pd.read_csv("dataset_covid_manaus.csv", delimiter = ';', encoding = 'ISO-8859-1')

In [20]:
df.sample(10)

,_idade,_faixa etária,_sexo,_bairro,_classificacao,_comorb_renal,_comorb_diabetes,_comorb_imuno,_comorb_cardio,_conclusao,...,_distrito,_bairro_mapa,_comorb_respiratoria,_comorb_cromossomica,_comorb_hepatica,_comorb_neurologica,_comorb_hemato,_comorb_obessidade,_origem,_evolução
37451,46.0,40a - 49a,M,JAPIIM II,Confirmado,Não,Não,Não,Não,NaN,...,SUL,JAPIIM,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
57921,34.0,30a - 39a,F,SANTAREMZINHO,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
39,43.0,40a - 49a,M,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
93257,34.0,30a - 39a,F,JORGE TEIXEIRA,Confirmado,NaN,NaN,NaN,NaN,Recuperado,...,LESTE,JORGE TEIXEIRA,NaN,NaN,NaN,NaN,NaN,NaN,GAL,NaN
104596,69.0,60a - 69a,F,COMPENSA,Confirmado,NaN,NaN,NaN,NaN,Recuperado,...,OESTE,COMPENSA,NaN,NaN,NaN,NaN,NaN,NaN,"SIVEP,",NaN
17470,44.0,40a - 49a,F,PETROPOLIS,Em análise,Não,Não,Não,Não,Recuperado,...,SUL,PETRÓPOLIS,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
106184,44.0,40a - 49a,M,PRACA 14 DE JANEIRO,Confirmado,NaN,NaN,NaN,NaN,NaN,...,SUL,PRAÇA 14 DE JANEIRO,NaN,NaN,NaN,NaN,NaN,NaN,"SIVEP,",Internado
37277,24.0,20a - 29a,F,DOM PEDRO,Em análise,Não,Não,Não,Não,Recuperado,...,OESTE,DOM PEDRO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
104679,88.0,80a ou +,F,NOSSA SENHORA DAS GRACAS,Em análise,NaN,NaN,NaN,NaN,Recuperado,...,SUL,NOSSA SENHORA DAS GRAÇAS,NaN,NaN,NaN,NaN,NaN,NaN,"SIVEP,",Internado
79117,18.0,15a - 19a,F,JORGE TEIXEIRA,Descartado,Não,Não,Não,Não,NaN,...,LESTE,JORGE TEIXEIRA,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN

#### 2.1.1 How many attributes per row? Which are its names?

In [15]:
df.columns

Index(['_idade', '_faixa etária', '_sexo', '_bairro', '_classificacao',
       '_comorb_renal', '_comorb_diabetes', '_comorb_imuno', '_comorb_cardio',
       '_conclusao', '_dt_notificacao', '_taxa', '_dt_evolucao', '_raca',
       '_dt_sintomas', '_criterio', '_tipo_teste', '_sintoma_garganta',
       '_sintoma_dispneia', '_sintoma_febre', '_sintoma_tosse',
       '_sintoma_outros', '_etnia', '_profiss_saude', '_srag',
       '_se_notificacao', '_distrito', '_bairro_mapa', '_comorb_respiratoria',
       '_comorb_cromossomica', '_comorb_hepatica', '_comorb_neurologica',
       '_comorb_hemato', '_comorb_obessidade', '_origem', '_evolução'],
      dtype='object')

In [16]:
print(len(df.columns))

36

#### 2.1.2 How many confirmed cases are show in the table?

In [28]:
df[df._classificacao == 'Confirmado'].shape[0]

36947

#### 2.1.3 What is the oldest case. And the newest?

In [32]:
df['_dt_notificacao']

0         04/05/2020
1         01/05/2020
2         04/05/2020
3         04/05/2020
4         04/05/2020
             ...
108346    01/06/2020
108347    25/05/2020
108348    04/05/2020
108349    05/06/2020
108350    03/04/2020
Name: _dt_notificacao, Length: 108351, dtype: object

In [47]:
sorted_dates = np.array(df['_dt_notificacao'].sort_values(na_position='first'))

In [71]:
sorted_dates_no_nan = np.array([e for e in sorted_dates if pd.isnull(e) is False])

In [73]:
sorted_dates_no_nan[0]

'01/03/2020'

In [74]:
sorted_dates_no_nan[len(sorted_dates_no_nan)-1]

'31/07/2020'

#### Deleting rows and columns which are not useful for our purposes

In [86]:
attributes_we_want = ['_idade', '_sexo', '_bairro', '_classificacao', '_dt_notificacao', '_tipo_teste', '_conclusao']

In [93]:
supp = []

for a in list(df.columns):
    if a in attributes_we_want:
        continue
    else:
        supp.append(a)
        
print(supp)

['_faixa etária', '_comorb_renal', '_comorb_diabetes', '_comorb_imuno', '_comorb_cardio', '_taxa', '_dt_evolucao', '_raca', '_dt_sintomas', '_criterio', '_sintoma_garganta', '_sintoma_dispneia', '_sintoma_febre', '_sintoma_tosse', '_sintoma_outros', '_etnia', '_profiss_saude', '_srag', '_se_notificacao', '_distrito', '_bairro_mapa', '_comorb_respiratoria', '_comorb_cromossomica', '_comorb_hepatica', '_comorb_neurologica', '_comorb_hemato', '_comorb_obessidade', '_origem', '_evolução']

In [107]:
clean_df = df.drop(['_faixa etária', '_comorb_renal', '_comorb_diabetes', '_comorb_imuno', '_comorb_cardio', '_taxa', '_dt_evolucao', '_raca', '_dt_sintomas', '_criterio', '_sintoma_garganta', '_sintoma_dispneia', '_sintoma_febre', '_sintoma_tosse', '_sintoma_outros', '_etnia', '_profiss_saude', '_srag', '_se_notificacao', '_distrito', '_bairro_mapa', '_comorb_respiratoria', '_comorb_cromossomica', '_comorb_hepatica', '_comorb_neurologica', '_comorb_hemato', '_comorb_obessidade', '_origem', '_evolução'], axis=1)

In [110]:
clean_df.head()

,_idade,_sexo,_bairro,_classificacao,_conclusao,_dt_notificacao,_tipo_teste
0,37.0,F,CONJ. CIDADAO 10,Confirmado,NaN,04/05/2020,TESTE RÁPIDO - ANTÍGENO
1,46.0,F,MORADA DO SOL,Descartado,Recuperado,01/05/2020,TESTE RÁPIDO - ANTÍGENO
2,51.0,F,NaN,Confirmado,NaN,04/05/2020,TESTE RÁPIDO - ANTICORPO
3,74.0,M,NaN,Confirmado,NaN,04/05/2020,TESTE RÁPIDO - ANTICORPO
4,51.0,F,ALEIXO,Confirmado,NaN,04/05/2020,TESTE RÁPIDO - ANTICORPO

In [122]:
clean_df = clean_df.dropna()

In [113]:
clean_df

,_idade,_sexo,_bairro,_classificacao,_conclusao,_dt_notificacao,_tipo_teste
1,46.0,F,MORADA DO SOL,Descartado,Recuperado,01/05/2020,TESTE RÁPIDO - ANTÍGENO
10,40.0,F,BETHANIA,Descartado,Recuperado,03/05/2020,TESTE RÁPIDO - ANTICORPO
14,35.0,F,CACHOEIRINHA,Descartado,Recuperado,03/05/2020,TESTE RÁPIDO - ANTICORPO
36,43.0,M,CHAPADA,Descartado,Recuperado,03/05/2020,RT-PCR
67,44.0,M,CHAPADA,Descartado,Recuperado,03/05/2020,TESTE RÁPIDO - ANTICORPO
...,...,...,...,...,...,...,...
108341,14.0,F,DA PAZ,Confirmado,Recuperado,25/06/2020,TESTE RÁPIDO - ANTÍGENO
108344,81.0,M,SANTA LUZIA,Descartado,Óbito,09/05/2020,RT-PCR
108346,68.0,M,JORGE TEIXEIRA,Confirmado,Recuperado,01/06/2020,RT-PCR
108349,45.0,F,TARUMA,Confirmado,Recuperado,05/06/2020,TESTE RÁPIDO - ANTICORPO
108350,68.0,M,NOVA ESPERANCA,Descartado,Recuperado,03/04/2020,RT-PCR

#### 2.2.1 How many rows and columns last after cleaning?

In [114]:
clean_df.shape

(33925, 7)

#### 2.2.2 How many recovered people in percentage?

In [125]:
rec_series = clean_df[clean_df._conclusao == 'Recuperado']
rec = len(rec_series)
total = 33925
ans = rec/total * 100.0
print(ans)

99.94104642593958

#### 2.2.3 Which genre had most confirmed cases?

In [139]:
conf_cases = clean_df[clean_df._classificacao == 'Confirmado']

male = conf_cases[conf_cases._sexo == 'M']
fale = conf_cases[conf_cases._sexo == 'F']

print(f"Female cases: {len(fale)}")
print(f"Male cases: {len(male)}")

Female cases: 3645
Male cases: 2777

#### 2.2.4 What is the youngest and oldest person who had a confirmed case? What is the mean and standard deviation of all confirmed cases?

In [141]:
ages = np.sort(conf_cases._idade)
print(f"Yougest: {ages[0]}")
print(f"Oldest: {ages[len(ages)-1]}")

Yougest: 0.0
Oldest: 99.0

In [143]:
print(f"Mean: {np.mean(ages)}")

Mean: 41.433821239489255

In [144]:
print(f"Std: {np.std(ages)}")

Std: 14.155360848072508

#### 2.2.5 Which neighbourhood had more confirmed cases?

In [244]:
neigh_cases = conf_cases.groupby('_bairro')['_classificacao'].count()

In [233]:
neigh_cases.sort_values(ascending=False)

_bairro
CIDADE NOVA            301
FLORES                 266
TARUMA                 225
PETROPOLIS             193
ALEIXO                 172
                      ...
PAQUE 10                 1
PAR DAS LARANJEIRA       1
PARQ. DEZ DE NOVEMB      1
PARQ. LARANJEIRAS        1
ADRIANOPOLES             1
Name: _classificacao, Length: 506, dtype: int64

#### 2.2.6 Which are top 3 neibourhood that had more recovered cases?

In [235]:
neigh_cases_rec = conf_cases.groupby(['_bairro', '_conclusao'])['_classificacao'].count()

In [239]:
neigh_cases_rec.sort_values(ascending=False)

_bairro              _conclusao
CIDADE NOVA          Recuperado    301
FLORES               Recuperado    266
TARUMA               Recuperado    225
PETROPOLIS           Recuperado    192
ALEIXO               Recuperado    171
                                  ...
PAQUE 10             Recuperado      1
PAR DAS LARANJEIRA   Recuperado      1
PARQ. DEZ DE NOVEMB  Recuperado      1
PARQ. LARANJEIRAS    Recuperado      1
ADRIANOPOLES         Recuperado      1
Name: _classificacao, Length: 516, dtype: int64

#### 2.2.7 What is the test applied types by name? Display the absolute and percetage values.

In [250]:
test_types = clean_df.groupby('_tipo_teste')['_tipo_teste'].count()

In [262]:
test_types

_tipo_teste
ECLIA IgG                      11
ELISA IgM                      27
RT-PCR                       4720
TESTE RÁPIDO - ANTICORPO    24756
TESTE RÁPIDO - ANTÍGENO      4411
Name: _tipo_teste, dtype: int64

In [264]:
total_tests = np.sum(test_types)
test_name = ['ECLIA IgG', 'ELISA IgM', 'RT-PCR', 'TESTE RÁPIDO - ANTICORPO', 'TESTE RÁPIDO - ANTÍGENO']

In [265]:
perc_test = [(t/total_tests * 100) for t in test_types]

In [289]:
arrado = np.array([test_name, test_types, perc_test])
arrado = arrado.transpose()

In [291]:
pd.DataFrame(arrado, columns=['test_name', 'abs values', 'perc (%) values'])

                  test_name abs values       perc (%) values
0                 ECLIA IgG         11  0.032424465733235076
1                 ELISA IgM         27     0.079587324981577
2                    RT-PCR       4720     13.91304347826087
3  TESTE RÁPIDO - ANTICORPO      24756     72.97273397199704
4   TESTE RÁPIDO - ANTÍGENO       4411    13.002210759027266